#home-page-featured
  %ul
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=book-club"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "4505433303_097aba429b_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/4505433303_097aba429b_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=fair-trade-coffee-co"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3360723208_5a5251c5be_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3360723208_5a5251c5be_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=urban-flavours"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3300238326_6ae755de9c_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3300238326_6ae755de9c_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=coffee-growers-union"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "8019597436_45e25f3831_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/8019597436_45e25f3831_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=photocopier-orchestra"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "Tagged (and then reminded a couple months later)", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3636444757_c4b434206c_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=organic-fruit-farm"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "74503975_c7b6761132_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/74503975_c7b6761132_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=an-epic-movie"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "4793607968_b0a9b99d72_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/4793607968_b0a9b99d72_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=online-gaming"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "Shaun demos to Stan", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5524611434_84ed2ded95_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=androidify-game"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "5025900536_10b6c10725_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5025900536_10b6c10725_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=chocolate-cakes"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3248985144_5247e29019_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3248985144_5247e29019_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=cinematography-in-toronto"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "6005561452_04a3e4e0c9_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/6005561452_04a3e4e0c9_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=organic-green-coffee"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3360732104_73440ea598_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3360732104_73440ea598_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=party-times"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "2809927193_1c341ef8ab_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/2809927193_1c341ef8ab_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=work-shop"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "2198527094_f4de8aafda_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/2198527094_f4de8aafda_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=rocking-out"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "Shine A Light", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/2387425278_b530d03672_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=jazz-out-loud"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "Skatalites en Montevideo I", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3618222297_7a477fff40_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=chorus-of-canada"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "6531357807_20d15aca68_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/6531357807_20d15aca68_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=millennium-theater"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3721453809_f4b056913f_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3721453809_f4b056913f_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=family-farm"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "5253950673_b4ac00f276_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5253950673_b4ac00f276_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=the-bread-bar"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "6958893813_d0fcb944f4_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/6958893813_d0fcb944f4_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=tool-shed"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "OLYMPUS DIGITAL CAMERA", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/354595284_ea48240e19_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=organic-coffee"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "5237447939_2024821314_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5237447939_2024821314_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=hiphop-dancers"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3361484839_d9f8a6b8d8_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3361484839_d9f8a6b8d8_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=the-muffin-factory"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "5468688067_328550afbf_b", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5468688067_328550afbf_b-186x186.jpg", :width => "186"}/
  %ul
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=work-shop"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "2198527094_f4de8aafda_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/2198527094_f4de8aafda_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=rocking-out"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "Shine A Light", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/2387425278_b530d03672_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=organic-coffee"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "5237447939_2024821314_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5237447939_2024821314_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=urban-flavours"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3300238326_6ae755de9c_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3300238326_6ae755de9c_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=book-club"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "4505433303_097aba429b_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/4505433303_097aba429b_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=fair-trade-coffee-co"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3360723208_5a5251c5be_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3360723208_5a5251c5be_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=millennium-theater"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3721453809_f4b056913f_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3721453809_f4b056913f_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=the-bread-bar"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "6958893813_d0fcb944f4_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/6958893813_d0fcb944f4_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=androidify-game"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "5025900536_10b6c10725_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5025900536_10b6c10725_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=an-epic-movie"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "4793607968_b0a9b99d72_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/4793607968_b0a9b99d72_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=chocolate-cakes"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3248985144_5247e29019_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3248985144_5247e29019_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=party-times"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "2809927193_1c341ef8ab_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/2809927193_1c341ef8ab_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=the-muffin-factory"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "5468688067_328550afbf_b", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5468688067_328550afbf_b-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=organic-fruit-farm"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "74503975_c7b6761132_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/74503975_c7b6761132_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=jazz-out-loud"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "Skatalites en Montevideo I", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3618222297_7a477fff40_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=hiphop-dancers"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3361484839_d9f8a6b8d8_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3361484839_d9f8a6b8d8_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=tool-shed"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "OLYMPUS DIGITAL CAMERA", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/354595284_ea48240e19_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=chorus-of-canada"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "6531357807_20d15aca68_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/6531357807_20d15aca68_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=organic-green-coffee"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3360732104_73440ea598_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3360732104_73440ea598_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=cinematography-in-toronto"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "6005561452_04a3e4e0c9_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/6005561452_04a3e4e0c9_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=photocopier-orchestra"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "Tagged (and then reminded a couple months later)", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3636444757_c4b434206c_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=online-gaming"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "Shaun demos to Stan", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5524611434_84ed2ded95_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=coffee-growers-union"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "8019597436_45e25f3831_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/8019597436_45e25f3831_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=family-farm"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "5253950673_b4ac00f276_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5253950673_b4ac00f276_o-186x186.jpg", :width => "186"}/
  %ul
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=online-gaming"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "Shaun demos to Stan", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5524611434_84ed2ded95_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=hiphop-dancers"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3361484839_d9f8a6b8d8_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3361484839_d9f8a6b8d8_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=book-club"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "4505433303_097aba429b_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/4505433303_097aba429b_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=cinematography-in-toronto"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "6005561452_04a3e4e0c9_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/6005561452_04a3e4e0c9_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=work-shop"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "2198527094_f4de8aafda_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/2198527094_f4de8aafda_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=chocolate-cakes"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3248985144_5247e29019_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3248985144_5247e29019_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=an-epic-movie"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "4793607968_b0a9b99d72_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/4793607968_b0a9b99d72_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=photocopier-orchestra"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "Tagged (and then reminded a couple months later)", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3636444757_c4b434206c_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=organic-green-coffee"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3360732104_73440ea598_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3360732104_73440ea598_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=fair-trade-coffee-co"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3360723208_5a5251c5be_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3360723208_5a5251c5be_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=jazz-out-loud"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "Skatalites en Montevideo I", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3618222297_7a477fff40_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=the-muffin-factory"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "5468688067_328550afbf_b", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5468688067_328550afbf_b-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=coffee-growers-union"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "8019597436_45e25f3831_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/8019597436_45e25f3831_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=the-bread-bar"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "6958893813_d0fcb944f4_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/6958893813_d0fcb944f4_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=family-farm"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "5253950673_b4ac00f276_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5253950673_b4ac00f276_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=millennium-theater"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3721453809_f4b056913f_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3721453809_f4b056913f_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=organic-coffee"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "5237447939_2024821314_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5237447939_2024821314_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=tool-shed"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "OLYMPUS DIGITAL CAMERA", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/354595284_ea48240e19_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=party-times"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "2809927193_1c341ef8ab_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/2809927193_1c341ef8ab_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=androidify-game"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "5025900536_10b6c10725_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5025900536_10b6c10725_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=chorus-of-canada"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "6531357807_20d15aca68_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/6531357807_20d15aca68_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=urban-flavours"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "3300238326_6ae755de9c_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3300238326_6ae755de9c_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=organic-fruit-farm"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "74503975_c7b6761132_o", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/74503975_c7b6761132_o-186x186.jpg", :width => "186"}/
    %li
      %a{:href => "http://fundifydemo.castyourvision.net/?download=rocking-out"}
        %img.attachment-post-thumbnail.wp-post-image{:alt => "Shine A Light", :height => "186", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/2387425278_b530d03672_o-186x186.jpg", :width => "186"}/
  %h1
    %span We help churches raise funds by encouraging
    %br/
    %span donors to give to specific and tangible
    %br/
    %span items that churches actually need
  / / container
#content
  .container
    .search-box
      %form#searchform{:action => "http://fundifydemo.castyourvision.net/", :method => "get", :role => "search"}
        %input{:name => "s", :placeholder => "Search", :type => "text"}/
        %button#searchsubmit.submit{:name => "submit", :type => "submit"}
          %i.icon-search
        %input{:name => "type", :type => "hidden", :value => "download"}/
    #filter.sort-tabs
      %h3 Show
      .dropdown
        .current
          All
        %ul.option-set
          %li
            %a{:href => "http://fundifydemo.castyourvision.net/?post_type=download"} All
          %li
            %a{:href => "http://fundifydemo.castyourvision.net/?download_category=arts"} Arts
          %li
            %a{:href => "http://fundifydemo.castyourvision.net/?download_category=dance"} Dance
          %li
            %a{:href => "http://fundifydemo.castyourvision.net/?download_category=design"} Design
          %li
            %a{:href => "http://fundifydemo.castyourvision.net/?download_category=fashion"} Fashion
          %li
            %a{:href => "http://fundifydemo.castyourvision.net/?download_category=film-video"} Film &amp; Video
          %li
            %a{:href => "http://fundifydemo.castyourvision.net/?download_category=food"} Food
          %li
            %a{:href => "http://fundifydemo.castyourvision.net/?download_category=games"} Games
          %li
            %a{:href => "http://fundifydemo.castyourvision.net/?download_category=music"} Music
          %li
            %a{:href => "http://fundifydemo.castyourvision.net/?download_category=photography"} Photography
          %li
            %a{:href => "http://fundifydemo.castyourvision.net/?download_category=technology"} Technology
          %li
            %a{:href => "http://fundifydemo.castyourvision.net/?download_category=theater"} Theater
      %ul.option-set.home
        %li
          %a{"data-filter" => ".new-this-week", :href => "http://fundifydemo.castyourvision.net/?page_id=565"} New this Week
        %li
          %a{"data-filter" => ".staff-pick", :href => "http://fundifydemo.castyourvision.net/?page_id=567"} Staff Picks
    #projects
      %section
        %article#post-262.post-262.download.type-download.status-publish.hentry.item
          %a{:href => "http://fundifydemo.castyourvision.net/?download=chorus-of-canada", :rel => "bookmark", :title => "Permalink to Chorus Of Canada"}
            %img.attachment-campaign.wp-post-image{:alt => "6531357807_20d15aca68_o", :height => "168", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/6531357807_20d15aca68_o-253x168.jpg", :width => "253"}/
          %h3.entry-title
            %a{:href => "http://fundifydemo.castyourvision.net/?download=chorus-of-canada", :rel => "bookmark", :title => "Permalink to Chorus Of Canada"} Chorus Of Canada
          %p Orchestra An orchestra is a large instrumental ensemble that contains sections of string, brass, woodwind, and percussion instruments. The term orchestra derives from the Greek ορχήστρα, the name for the area in front of an ancient Greek stage reserved for the Greek chorus. The orchestra&hellip;
          .digits
            .bar
              %span{:style => "width: 0%"}
            %ul
              %li
                %strong 0%
                Funded
              %li
                %strong $0.00
                Pledged
              %li
                %strong 37
                Days to Go
        %article#post-261.post-261.download.type-download.status-publish.hentry.item
          %a{:href => "http://fundifydemo.castyourvision.net/?download=cinematography-in-toronto", :rel => "bookmark", :title => "Permalink to Cinematography Toronto"}
            %img.attachment-campaign.wp-post-image{:alt => "6005561452_04a3e4e0c9_o", :height => "167", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/6005561452_04a3e4e0c9_o-253x167.jpg", :width => "253"}/
          %h3.entry-title
            %a{:href => "http://fundifydemo.castyourvision.net/?download=cinematography-in-toronto", :rel => "bookmark", :title => "Permalink to Cinematography Toronto"} Cinematography Toronto
          %p Cinematography Cinematography is an art form of filmmaking. Although the exposing of images on light-sensitive elements dates back to the early 19th century,motion pictures demanded a new form of photography and new aesthetic techniques. On June 19, 1872, Eadweard Muybridge successfully photographed a horse named “Sallie&hellip;
          .digits
            .bar
              %span{:style => "width: 0%"}
            %ul
              %li
                %strong 0%
                Funded
              %li
                %strong $0.00
                Pledged
              %li
                %strong 37
                Days to Go
        %article#post-260.post-260.download.type-download.status-publish.hentry.item
          %a{:href => "http://fundifydemo.castyourvision.net/?download=online-gaming", :rel => "bookmark", :title => "Permalink to Mobile Gaming"}
            %img.attachment-campaign.wp-post-image{:alt => "Shaun demos to Stan", :height => "189", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5524611434_84ed2ded95_o-253x189.jpg", :width => "253"}/
          %h3.entry-title
            %a{:href => "http://fundifydemo.castyourvision.net/?download=online-gaming", :rel => "bookmark", :title => "Permalink to Mobile Gaming"} Mobile Gaming
          %p Mobile Game A mobile game is a video game played on a feature phone, smartphone, PDA, tablet computer, portable media player or calculator. This does not include games played on dedicated handheld video game systems such as Nintendo 3DS or PlayStation Vita. The first game on&hellip;
          .digits
            .bar
              %span{:style => "width: 0%"}
            %ul
              %li
                %strong 0%
                Funded
              %li
                %strong $0.00
                Pledged
              %li
                %strong 68
                Days to Go
        %article#post-259.post-259.download.type-download.status-publish.hentry.item
          %a{:href => "http://fundifydemo.castyourvision.net/?download=organic-coffee", :rel => "bookmark", :title => "Permalink to Organic Coffee"}
            %img.attachment-campaign.wp-post-image{:alt => "5237447939_2024821314_o", :height => "168", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5237447939_2024821314_o-253x168.jpg", :width => "253"}/
          %h3.entry-title
            %a{:href => "http://fundifydemo.castyourvision.net/?download=organic-coffee", :rel => "bookmark", :title => "Permalink to Organic Coffee"} Organic Coffee
          %p The meaning of “organic” Many factors are taken into consideration when coffee is considered for “organic” certification. For example, the coffee farm’s fertilizer must be 100% organic. Some organic fertilizer options include chicken manure, coffee pulp, bocachi and&hellip;
          .digits
            .bar
              %span{:style => "width: 0%"}
            %ul
              %li
                %strong 0%
                Funded
              %li
                %strong $0.00
                Pledged
              %li
                %strong 129
                Days to Go
        %article#post-258.post-258.download.type-download.status-publish.hentry.item
          %a{:href => "http://fundifydemo.castyourvision.net/?download=androidify-game", :rel => "bookmark", :title => "Permalink to Androidify Game"}
            %img.attachment-campaign.wp-post-image{:alt => "5025900536_10b6c10725_o", :height => "168", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/5025900536_10b6c10725_o-253x168.jpg", :width => "253"}/
          %h3.entry-title
            %a{:href => "http://fundifydemo.castyourvision.net/?download=androidify-game", :rel => "bookmark", :title => "Permalink to Androidify Game"} Androidify Game
          %p Android Gaming Android is a Linux-based operating system designed primarily for touchscreen mobile devices such as smartphones and tablet computers. Initially developed by Android, Inc., which Google backed financially and later&hellip;
          .digits
            .bar
              %span{:style => "width: 0%"}
            %ul
              %li
                %strong 0%
                Funded
              %li
                %strong $0.00
                Pledged
              %li
                %strong 159
                Days to Go
        %article#post-255.post-255.download.type-download.status-publish.hentry.item
          %a{:href => "http://fundifydemo.castyourvision.net/?download=an-epic-movie", :rel => "bookmark", :title => "Permalink to An Epic Movie"}
            %img.attachment-campaign.wp-post-image{:alt => "4793607968_b0a9b99d72_o", :height => "188", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/4793607968_b0a9b99d72_o-253x188.jpg", :width => "253"}/
          %h3.entry-title
            %a{:href => "http://fundifydemo.castyourvision.net/?download=an-epic-movie", :rel => "bookmark", :title => "Permalink to An Epic Movie"} An Epic Movie
          %p Filmmaking Filmmaking (often referred to in an academic context as film production) is the process of making a film. Filmmaking involves&hellip;
          .digits
            .bar
              %span{:style => "width: 0%"}
            %ul
              %li
                %strong 0%
                Funded
              %li
                %strong $0.00
                Pledged
              %li
                %strong 37
                Days to Go
        %article#post-254.post-254.download.type-download.status-publish.hentry.item
          %a{:href => "http://fundifydemo.castyourvision.net/?download=photocopier-orchestra", :rel => "bookmark", :title => "Permalink to Photocopier Orchestra"}
            %img.attachment-campaign.wp-post-image{:alt => "Tagged (and then reminded a couple months later)", :height => "168", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3636444757_c4b434206c_o-253x168.jpg", :width => "253"}/
          %h3.entry-title
            %a{:href => "http://fundifydemo.castyourvision.net/?download=photocopier-orchestra", :rel => "bookmark", :title => "Permalink to Photocopier Orchestra"} Photocopier Orchestra
          %p Orchestra An orchestra is a large instrumental ensemble that contains sections of string, brass, woodwind, and percussion instruments. The term orchestra derives from the Greek ορχήστρα, the name for the area in&hellip;
          .digits
            .bar
              %span{:style => "width: 0%"}
            %ul
              %li
                %strong 0%
                Funded
              %li
                %strong $0.00
                Pledged
              %li
                %strong 129
                Days to Go
        %article#post-246.post-246.download.type-download.status-publish.hentry.item
          %a{:href => "http://fundifydemo.castyourvision.net/?download=hiphop-dancers", :rel => "bookmark", :title => "Permalink to Hiphop Dancers"}
            %img.attachment-campaign.wp-post-image{:alt => "3361484839_d9f8a6b8d8_o", :height => "168", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3361484839_d9f8a6b8d8_o-253x168.jpg", :width => "253"}/
          %h3.entry-title
            %a{:href => "http://fundifydemo.castyourvision.net/?download=hiphop-dancers", :rel => "bookmark", :title => "Permalink to Hiphop Dancers"} Hiphop Dancers
          %p Epic Dancing Hip-hop dance refers to street dance styles primarily performed to hip-hop music or that have evolved as part of hip-hop culture. It includes a wide range of&hellip;
          .digits
            .bar
              %span{:style => "width: 0%"}
            %ul
              %li
                %strong 0%
                Funded
              %li
                %strong $0.00
                Pledged
              %li
                %strong 129
                Days to Go
        %article#post-244.post-244.download.type-download.status-publish.hentry.item
          %a{:href => "http://fundifydemo.castyourvision.net/?download=organic-fruit-farm", :rel => "bookmark", :title => "Permalink to Organic Fruit Farm"}
            %img.attachment-campaign.wp-post-image{:alt => "74503975_c7b6761132_o", :height => "168", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/74503975_c7b6761132_o-253x168.jpg", :width => "253"}/
          %h3.entry-title
            %a{:href => "http://fundifydemo.castyourvision.net/?download=organic-fruit-farm", :rel => "bookmark", :title => "Permalink to Organic Fruit Farm"} Organic Fruit Farm
          %p Fair Trade Fruit Organic foods are foods that are produced using methods of organic farming — that do not involve modern synthetic&hellip;
          .digits
            .bar
              %span{:style => "width: 0%"}
            %ul
              %li
                %strong 0%
                Funded
              %li
                %strong $0.00
                Pledged
              %li
                %strong 6
                Days to Go
        %article#post-239.post-239.download.type-download.status-publish.hentry.item
          %a{:href => "http://fundifydemo.castyourvision.net/?download=fair-trade-coffee-co", :rel => "bookmark", :title => "Permalink to Fair Trade Coffee Co"}
            %img.attachment-campaign.wp-post-image{:alt => "3360723208_5a5251c5be_o", :height => "168", :src => "http://fundifydemo.castyourvision.net/wp-content/uploads/2013/02/3360723208_5a5251c5be_o-253x168.jpg", :width => "253"}/
          %h3.entry-title
            %a{:href => "http://fundifydemo.castyourvision.net/?download=fair-trade-coffee-co", :rel => "bookmark", :title => "Permalink to Fair Trade Coffee Co"} Fair Trade Coffee Co
          %p Fair Trade Coffee Co Fair trade coffee is coffee that is certified as having been produced and marketed to a stated set of standards. Many customers pay a higher price when buying coffee with the certification&hellip;
          .digits
            .bar
              %span{:style => "width: 0%"}
            %ul
              %li
                %strong 0%
                Funded
              %li
                %strong $0.00
                Pledged
              %li
                %strong 0
                Days to Go
      .paginate-links.container
        %span.page-numbers.current 1
        %a.page-numbers{:href => "http://fundifydemo.castyourvision.net/?paged=2"} 2
        %a.page-numbers{:href => "http://fundifydemo.castyourvision.net/?paged=3"} 3
        %span.page-numbers.dots &hellip;
        %a.page-numbers{:href => "http://fundifydemo.castyourvision.net/?paged=5"} 5
        %a.next.page-numbers{:href => "http://fundifydemo.castyourvision.net/?paged=2"}
          %i.icon-right-open-big
  / / container