@import url(bootstrap.css);
@import url(bootstrap-responsive.css);
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,800,300");
@import url("http://fonts.googleapis.com/css?family=Oswald:400,700,300");
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#header .navbar-inner {
  padding: 20px 0;
  background: #222 !important; }

#main-nav {
  float: right; }
  @media (max-width: 1250px) {
    #main-nav {
      float: none; } }
  @media (max-width: 650px) {
    #main-nav {
      float: none; } }
  #main-nav li a {
    text-shadow: none;
    color: #878787;
    font-family: "Oswald";
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase; }
