@import "bootstrap.css";
@import "bootstrap-responsive.css";
// @import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,800,300");
// @import url("http://fonts.googleapis.com/css?family=Oswald:400,700,300");

// defaults
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// colors
$grey: #878787;

// mixins
@mixin breakpoint($point) {
  @if $point == web {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 650px)  { @content; }
  }
}

body {
  // padding: 60px 0 0 0;
}

// campaign creation tabs
.new-campaign-tabs-wrap {
  margin-top: 50px;
  background: #222;
  color: #eee;
}

.new-campaign-tabs {
  border-bottom: 0;
  margin: 0 !important;
  li {
    padding: 10px 0;
    &.active a {
      background: red;
    }
    a {
      display: block;
    }
  }
}


// main layout
#logo {
  color: $grey;
  text-shadow: none;
  font-weight: 800;
  font-style: italic;
}

#header .navbar-inner {
  padding: 5px 0;
  background: #eee !important;
}

.user-nav-img {
  width: 40px;
  border-radius: 50em;
}


#main-nav {
  float: right;
  @include breakpoint(tablet){ float: none; }
  @include breakpoint(mobile){ float: none; }
  li {
    a {
      text-shadow: none;
      color: $grey;
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}